* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

#numPanel, #operatorPanel, .buttonPanelRow {
    gap: 8px;
}

#container {
    margin: 0 auto;
    width: 258px;
    border: 1px solid darkgray;
    background-color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#displayPanel {
    /*align text bottom*/
    height: 52px;
    overflow: hidden;
    text-align: right;
    background-color: lightgray;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-size: 32px;
    padding: 10px;
}

#buttonPanel {
    display: flex;
    justify-content: space-between;
}

#numPanel {
    display: flex;
    flex-direction: column;
}

.buttonPanelRow {
    display: flex;
    justify-content: space-between;
}

#operatorPanel {
    display: flex;
    flex-direction: column;
}

button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding: 10px;
}

.numBtn {
    background-color: #646464;
    color: white;
}

#operatorPanel button {
    background-color: orange;
    color: white;
}

#clearBtn, #backspaceBtn {
    background-color: lightgray;
    color: black;
}

header, footer {
    font-size: 16px;
    text-align: center;
    padding: 36px;
}